/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}
#block-system-main-menu h2.block-title {display: none !important;}

#block-system-main-menu ul {display: block;}

#block-system-main-menu ul li {color: #26404D; display: inline; list-style-type: none;}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */  {
  width: 99%;
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
  color: #ffffff;
  /*width: 100%;*/
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 32px;
  left: 800px;
  width: 350px;
}

#block-user-login .block-title {display: none;}

.region-header #block-user-login div.form-item {
  float: left;
  margin: 0px;
}
.region-header #block-user-login div.form-item label {
  font-size: smaller;
}
.region-header #block-user-login div.item-list ul {
  display: block;
  clear: both;
  margin: inherit;
  padding: inherit;
}

.region-header #block-user-login div.item-list li {
  float: left;
  font-size: small;
  font-style: italic;
  list-style-type: none;
  margin: inherit;
  padding: 0px 8px 0px 0px;
}

.region-header #block-user-login div.item-list li a {
  color: #f7f7f7 !important;
  margin: inherit;
  padding: inherit;
}

.region-header #block-user-login div.item-list li a:hover {
  font-style: normal;
}

.region-header #block-user-login div.form-actions {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}

#block-shib-auth-login-box {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 75px;
  left: 650px;
  height: 30px;
}

#block-shib-auth-login-box a {
  font-size: small;
  font-style: italic;
  font-weight: normal !important;
}

#shib_login_url a {
  color: white;
  padding-left: 4px;
  line-height: 2em;
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

/* First sidebar block styles */
.region-sidebar-first .block {
  margin-bottom: 8px !important;
}

.region-sidebar-first .block-title {
  font-size: 1.15em;
  width: 100%;
  margin: 0px 0px 8px 0px;
  padding: 0px;
  border-bottom: 1px solid #84959F;
}

.region-sidebar-first .block ul {
  margin-top: 3px;
  margin-left: 0px;
}

.region-sidebar-first .block ul li {
  list-style-type: none;
  margin-left: -12px;
  line-height: 175%;
  font-size: small;
}

/* Second sidebar block styles */
.region-sidebar-second .block {
  background: #e4e5e5; /* #d1d3d5;*/
  padding: 12px 18px 8px 14px;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.region-sidebar-second .block-title {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  margin: 0px 0px 8px 0px;
  padding: 0px;
  border-bottom: 1px solid #84959f;
}

.region-sidebar-second .block ul.menu {
  margin: 0px 0px 0px 18px;
  padding: 0px;
}
