/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  background: #c5ced1 url(../images/shantizen-navbar-btm-strip.png) repeat-x top left;
  border-top: 1px solid #c5ced1;
  /*height: 26px;
  padding-left: 30px;
  width: 930px!important;*/
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
  /*color: #274656;*/
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 50px 0 0; /* LTR */
  /*color: #6e8a93; *//*#0b2933;*/
  font-weight: bold;
  text-transform: none!important;
}

#navigation ul.links li a:active,
#navigation ul.links li a:focus,
#navigation ul.links li a:visited {
  color: #496771;
}


#navigation ul.links li a:hover{
  color: #f7f7f7;
  text-decoration: none !important;
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}
/*
#main-menu a {
  text-decoration: none !important;
}*/

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
